@page
@model BookingTicketOnline.Pages.Payment.PaymentSuccessModel
@{
    ViewData["Title"] = "Payment Successful";
}

<div class="container py-5">
    <div class="card text-center">
        <div class="card-body">
            <i class="bi bi-check-circle text-success" style="font-size: 4rem;"></i>
            <h2 class="card-title mt-3">THANH TOÁN HOÀN TẤT!</h2>
            <p class="card-text">Cảm ơn bạn vì đã thanh toán. Giao dịch của bạn đã được hoàn tất.</p>
            <a href="/" class="btn btn-primary mt-3">Quay lại trang chủ</a>
        </div>
    </div>
</div>