@page
@model BookingTicketOnline.Pages.Category.EditCategoryModel
@{
    Layout = "_AdminLayout";
}

<div class="container my-5" style="max-width: 600px">
    <h2 class="text-center mb-4">Edit Category</h2>
    <form method="post">
        <input hidden asp-for="@Model.category.Id" class="form-control">
        <div class="mb-3">
            <label asp-for="category.Name" class="form-label">Name</label>
            <input asp-for="category.Name" class="form-control">
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-outline-secondary" asp-page="/Category/ManageCategories">Cancel</a>
        </div>
    </form>
</div>
