@page
@model BookingTicketOnline.Pages.ManageDiscount.EditModel
@{
    ViewData["Title"] = "Sửa mã giảm giá";
    Layout = "_OwnerLayout";
}
<h1>Sửa mã giảm giá</h1>

<h4>Thông tin mã giảm giá</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="Discount.Id" />

            <div class="form-group">
                <label asp-for="Discount.Code" class="control-label"></label>
                <input asp-for="Discount.Code" class="form-control" placeholder="Enter discount code" />
                <span asp-validation-for="Discount.Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Discount.DiscountValue" class="control-label"></label>
                <input asp-for="Discount.DiscountValue" class="form-control" placeholder="Enter discount value" />
                <span asp-validation-for="Discount.DiscountValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Discount.EndDate" class="control-label"></label>
                <input asp-for="Discount.EndDate" class="form-control" type="date" />
                <span asp-validation-for="Discount.EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" style="margin-top: 5px" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-page="./Index" class="btn btn-secondary">Quay lại</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
