@page
@model BookingTicketOnline.Pages.HomeAdminModel

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="StaffPage.css"> <!-- Link đến file CSS -->
</head>

<body>
    <!-- Nội dung trang -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quản lý người dùng</h5>
                        <p class="card-text">Xem và quản lý người dùng.</p>
                        <a asp-page="User/ManageUsers" class="btn btn-primary">Đi đến trang quản lý người dùng</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quản lý danh mục phim</h5>
                        <p class="card-text">Xem và quản lý danh mục phim.</p>
                        <a asp-page="/Category/ManageCategories" class="btn btn-primary">Đi đến trang quản lý danh mục phim</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quản lý rạp phim</h5>
                        <p class="card-text">Xem và quản lý danh sách rạp phim.</p>
                        <a asp-page="/Cinema/ManageCinemas" class="btn btn-primary">Đi đến trang quản lý danh sách rạp phim</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quản lý bộ phim</h5>
                        <p class="card-text">Xem và quản lý danh sách bộ phim.</p>
                        <a asp-page="/Movie/ManageMovies" class="btn btn-primary">Đi đến trang quản lý danh sách bộ phim</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

