@page
@model BookingTicketOnline.Pages.Cinema.EditCinemaModel
@{
    Layout = "_AdminLayout";
}

<div class="container my-5" style="max-width: 600px">
    <h2 class="text-center mb-4">Chỉnh sửa rạp chiếu phim</h2>
    <form method="post">
        <input hidden asp-for="@Model.cinema.Id" class="form-control">

        <div class="mb-3">
            <label asp-for="cinema.Name" class="form-label">Tên</label>
            <input asp-for="cinema.Name" class="form-control" placeholder="Nhập tên rạp chiếu phim">
            <span class="text-danger" asp-validation-for="cinema.Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="cinema.Location" class="form-label">Địa chỉ</label>
            <input asp-for="cinema.Location" class="form-control" placeholder="Nhập địa chỉ">
            <span class="text-danger" asp-validation-for="cinema.Location"></span>
        </div>

        <div class="mb-3">
            <label asp-for="cinema.City" class="form-label">Thành phố</label>
            <input asp-for="cinema.City" class="form-control" placeholder="Nhập thành phố">
            <span class="text-danger" asp-validation-for="cinema.City"></span>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a type="button" class="btn btn-outline-secondary" asp-page="/Cinema/ManageCinemas">Hủy</a>
        </div>
    </form>
</div>